/*
  Figma Color Palette:

  Background: #283b48
  Primary: #222831
  Accent: #00a6c0
  Accent-shade: #096371
*/


/* Global custom CSS stylings */

:root {
  --background: #283b48;
  --primary:  #222831;
  --accent: #00a6c0;
  --accent-shade: #096371;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button{
  cursor: pointer;
}

.input-fields{
  background-color: var(--primary);
}

.goal-wrapper, .dropdown-wrapper{
  background-color: var(--primary);
}
